<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Découvrez les Canaries autrement</h2>
                <hr class="light">
                <p class="text-faded">Une prise en main facile, que l’on soit sportif ou non, pour un moment en famille ou entre amis (14 ans minimum) + blabla</p>
                <a href="#" class="btn btn-default btn-xl">Réservez maintenant !</a>
            </div>
        </div>
    </div>
</section>
